html, body
{
	height: 100%;
	overflow: hidden;
}
body
{
	font-family: 'Comic Neue', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
	/* Enable a font's kerning: http://stackoverflow.com/questions/15160897/font-feature-settings-what-is-the-correct-syntax */
	-moz-font-feature-settings: 'kern';
	-webkit-font-feature-settings: 'kern';
	font-feature-settings: 'kern';
}
a
{
	color: blue;
}
.mainNavigation
{
	text-align: center;
}
.mainNavigation-list
{
	display: inline-block;
}
/*http://jtauber.github.io/articles/css-hexagon.html*/
.hexagonContainer
{
	display: inline-block;
}
.hexagonContainer--3d
{
	transform: perspective(600px) rotateX(60deg);
	transition: .6s ease-in-out;
}
.hexagonContainer--3d:hover,
.hexagonContainer--3d:focus,
.hexagonContainer--3d:target,
.hexagonContainer--3d--active
{
	transform: perspective(600px) rotateX(0);
	outline: none;
}
.hexagon
{
	display: block;
	margin-right: 3px;
	margin-bottom: 3px;
	float: left;
	margin-top: 30px;
}
.hexagon--clear
{
	clear: left;
}
.hexagon--padded
{
	margin-left: 52px;
}
.hexagon-inner,
.hexagon--empty
{
	display: block;
	text-decoration: none;
	width: 104px;
	height: 60px;
	background-color: #6C6;
	position: relative;
	font-size: 1.3rem;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	transition: .6s ease-in-out;
}
.hexagon-inner:before,
.hexagon--empty:before
{
	content: '';
	width: 0; 
	height: 0;
	border-bottom: 30px solid #6C6;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	position: absolute;
	top: -30px;
	left: 0;
}
.hexagon-inner:after,
.hexagon--empty:after
{
	content: '';
	width: 0;
	position: absolute;
	bottom: -30px;
	border-top: 30px solid #6C6;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
	left: 0;
}
.hexagon-inner:hover,
.hexagon-inner:focus,
.hexagon--empty:hover,
.hexagon--empty:focus
{
	transform: rotateY(360deg);
}
.tooltip
{
	position: relative;
}
.tooltip:focus
{
	outline: none;
}
.tooltip-content
{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	border: 1px rgba(0, 0, 0, .6) ridge;
	background: rgba(255, 255, 255, .7);
	z-index: 100;
	opacity: 0;
	transition: .6s ease-in-out;
}
.tooltip > .tooltip-content
{
	transition-delay: .6s;
}
.tooltip:hover > .tooltip-content,
.tooltip:focus > .tooltip-content,
.tooltip--active > .tooltip-content
{
	clip: auto;
	white-space: nowrap;
	top: 50%;
	opacity: 1;
}
.section
{
	position: absolute;
	top: 0;
	bottom: 100%;
	left: 0;
	right: 100%;
	background: rgba(0, 0, 0, .9);
	color: #fff;
	padding: 10px;
	visibility: hidden;
	transition: .6s ease-in-out;
}
.section:target
{
	position: fixed;
	bottom: 0;
	right: 0;
	visibility: visible;
}
.section:focus
{
	outline: none;
}
.section-header
{
	height: 2.5rem;
}
.section-title
{
	float: left;
	font-size: 1.8rem;
	margin: 0;
}
.section-closeLink
{
	float: right;
	color: #fff;
	font-size: 2rem;
	text-decoration: none;
}
.section-closeLink:hover,
.section-closeLink:focus
{
	color: #f00;
}
.section-content
{
	color: #fff;
	line-height: 1.2rem;
	overflow: auto;
	position: absolute;
	top: 3rem;
	bottom: 10px;
}
.section-content a
{
	color: #fff;
}
.section-content a:hover,
.section-content a:focus
{
	text-decoration: none;
}
